:root {
    --detail: rgb(62, 88, 62);
}


* {
    box-sizing: border-box;
    margin: 0px;
  }

main{
  font-family: Arial, Helvetica, sans-serif;
  color: darkgrey;
  background-color: darkgoldenrod;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
}

footer {
  background-color: var(--detail);
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 5px;
  border-left: 5px solid darkgrey;
  padding: 5px
}

article {
  flex: 1 0 100px;
  text-align: center;
  margin: 15px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style: none;
  text-decoration: none;
  color: darkgray;
}  

a {
  color: darkgrey;
  text-decoration: none;
}

p {
  color: var(--detail);
}

.work {
  display: flex;
  flex-wrap:wrap;
}   

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  background-color: var(--detail);
  color: darkgrey;
}


.subhead {
  background-color: plum;
  color: var(--detail);
  padding: 15px;
  position: absolute;
}

.about-me p {
  line-height: 1.5;
  margin: 10px;
  margin-left: 50px;
}

.card {
  max-width: 50%;
}

.header img {
  height: 50px;
}

.card img {
  width: 100%;
  padding:0;
  min-width: 500px;
  border: 5px solid plum;
}

.contact ul {
  list-style: none;
  display: flex;
  justify-content: center;
  min-width: 300px;
  padding: 15px;
}

.contact li {
  font-size: 20px;
  padding: 30px;
}

#project-1 {
  min-width: 75%;
}

nav a:hover {
  color: maroon;
}

.card:hover {
  border-style: solid;
  border-color: var(--detail);
  background-color: var(--detail);
}

@media screen and (max-width: 768px) {
  .work {
    display: flex;
    flex-direction: row;
    width: 40%;
  }
}
@media screen and (max-width: 576px) {
  main {
    flex-direction: column;
  }
}